*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 180vh;
    background: rgba(159, 225, 230, 0.733);
}
.head{
    
    height:15%;
    
}
nav{
    padding: 30px;
    
}
nav>ul{
    float: right;
    display: flex;
    
}
ul>li{
    list-style: none;
    padding: 10px;
}
ul>li:hover{
    background:rgba(128, 128, 128, 0.315);
}
nav>ul>li>a{
    font-family: monospace;
    text-decoration: none;
    margin: 20px;
    color: black;
    font-size: 20px;
}
nav>ul>li >a:hover{
    color:white;
}
.contain{
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.content1{
    width: 20%;
    height: 100%;
}
h5{
    padding: 10px;
}
.content2{
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 70%;
}
.content2>p{
    color: blue;
}
.content3{
    width: 50%;
    height: 70%;
    margin-top: 70px;
}
.content4{
    width: 100%;
    height: 19.25%;
    background: rgba(0, 0, 0, 0.199);
}
.content4>p{
    text-align:start;
    color: white;
    font-size: 15px;
    margin: 5px 5px 10px 20px;
    padding: 0px;
}
.content4 p{
    color: blue;
}
.content4 p:hover{
    color: red;
}

form{
    width: 400px;
    background:rgba(189, 186, 186, 0.253);
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    position: absolute;
    top: 82%;
    left: 25%;
    transform:translate(-50%,-50%);
    color: white;
    margin: 0px;
    height: 85%;
    
}
#f-name,#l-name,#email,#phone,#password,#score,#select,label{
    width: 100%;
    background:rgba(209, 206, 206, 0.014);
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px rgba(255, 253, 253, 0.815);
    padding-top: 35px;
    outline: none;
    color: gray;
    
}
option{
    background:rgba(189, 186, 186, 0.034);
}
#submit{
    width: 100%;
    background: rgb(113, 175, 175);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 25px 0px;
}
#select,label{
    text-align: center;
    
}
.footer{
    font-family: monospace;
    font-size: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    background: rgba(124, 116, 116, 0.507);
    color:blue;
}
.contact{
    width: 50%;
    text-align: center;
    margin-top: 40px;
}
.link{
    margin-top: 15px;
    width: 50%;
    
}
img{
    width: 25px;
    height: 25px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}
a>img:hover{
    width: 30px;
    height: 30px;
    margin: 0px;
}
span{
    width: 100%;
}
.link>li{
    list-style: none;
    font-size: 20px;
    margin: 5px;
    margin-left: 150px;
}
p{
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    
}
.content2>span{
    margin-left: 100px;
}