*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 180vh;
}
.head{
    background-image: url("../imgs/cover.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
    height: 20%;
}
nav{
    padding: 30px;
}
nav>ul{
    float: right;
    display: flex;
}
ul>li{
    list-style: none;
    padding: 10px;
}
ul>li:hover{
    background:rgba(128, 128, 128, 0.479);
}
nav>ul>li>a{
    font-family: monospace;
    text-decoration: none;
    margin: 20px;
    color: black;
    font-size: 20px;
}
a:hover{
    color:white;
}
img{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.contain{
    height: 65%;
    background-image: url("../imgs/bg1.jpeg");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}
.text1{
    font-size: 20px;
    font-weight: lighter;
    font-family: monospace;
    padding-top: 5vh;
    background: rgba(181, 230, 230, 0.205);
    text-align: center;
    height: 15%;
}
h5{
    padding: 10px;
}
.text2,.text3,.text4{
    margin: 10px;
    margin-left:400px;
    font-size: 20px;
    font-weight: lighter;
    font-family: monospace;
    background: rgba(181, 230, 230, 0.205);
    height: 25%;
    width: 500px;
}
p{
    padding: 10px;
}
.footer{
    width: auto;
    height: 15%;
    background: #000;
    display: flex;
}
.contact{
    width: 50%;
    background: rgb(223, 60, 60);
}
.link{
    width: 50%;
    background: rgb(71, 60, 223);
}